
////////////////////////////////////////////////
// Global Layout / Bootstrap Overrides
////////////////////////////////////////////////

.navbar-inverse {
  background-color: #364b5c;
  background-image: none;
  .navbar-brand {
    font-family: 'Bitter', serif;
    font-size: 27px;
  }
  a {
    color: #fff !important;
  }
  .navbar-nav {
    .active a {
      background-image: none;
      background-color: rgba(0,0,0,0.15);
      &:hover {
        background-color: rgba(0,0,0,0.15);
      }
    }
  }
}

h1 {
  .glyphicon { top: 4px; }
  font-family: 'Bitter', serif;
  font-weight: 700;
}

.btn {
  border: none;
  background-image: none;
  &.btn-primary {
    background-color: #435a6d;
    &:hover { background-color: #364b5c; }
  }
}

.alert {
  background-image: none;
}

.well {
  background-image: none;
  h3:first-of-type { margin-top: 0px; }
}

////////////////////////////////////////////////
// Utility
////////////////////////////////////////////////

.flash.alert {
  width:500px;
  margin-top: 20px;
  margin-left:-250px;
  left:50%;
  position:absolute;
  text-align:center;
}

.alert-error h4 {
  margin-bottom:10px;
}

.field_with_errors input, .field_with_errors textarea {
  border:1px solid #b94a48;
}

div.navbar-login {
  ul {
    float: right;
    margin: 5px 0px;

    li {
      padding: 10px 5px;
      display: inline-block;
      &:first-child a {
        font-weight: bold;
        color: #ffffff;
        .glyphicon {
          padding-left: 3px;
          top: 4px;
          font-size: 18px;
          line-height: 0px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

span.separator {
  border-left: 1px solid #555555;
  border-right: 1px solid #aaaaaa;
}
