<div>
  <% flash.each do |key, value| %>
    <div class="flash <%= flash_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value.html_safe %>
    </div>
  <% end %>
</div>
